* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3B4149: #3b4149;
  --color-FEBD69: #febd69;
  --color-232F3E: #232f3e;
  --color-BF4800: #bf4800;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 0.625em;
}

.gap-15 { 
  gap: 0.938em;
}

.gap-30 {
  gap: 1.875em;
}

/* Header Part */
.header-top-strip {
  border-bottom: 0.063em solid var(--color-3B4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921)
}

.header-bottom {
  background-color: var(--color-232F3E);
}

.header-upper .input-group-text {
  background-color: var(--color-FEBD69);
}

.header-upper.header-upper-links img {
  width: 2.188em;
  height: 2.188em;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:before {
  content: url('../public/images/menu.svg');
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  padding: 0em 0em;
  transform: translate3d(0em, 3.838em, 0em) !important;
}

.header-bottom .dropdown-item {
  padding: 1.25em;
  margin-bottom: 0.188em;
  border-bottom: 0.063em solid var(--color-3B4149);

}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-FEBD69) !important;
}
/* Header Part End Here */


/* Footer Part */

footer {
  background-color: var(--color-232F3E);
}

footer:not(:first-child) {
  border-top: 0.063em solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232F3E);
  color: white;
  padding: 0.5em 1.063em;
}

@keyframes moveDisappearAndReturn {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(15%, -20%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }  
}

.newsletter-image {
  position: relative;
}

.footer-top-data:hover .newsletter-image {
  animation: moveDisappearAndReturn 1.3s linear infinite;
}

.social_icons a {
  transition: transform 0.31s;
}

.social_icons a:hover {
  transform: scale(1.2);
}
/* Footer Part End Here */

/* Home Page */

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-BF4800);
  margin: 0 0 0.75em;
  letter-spacing: 0.019rem;
  text-transform: uppercase;
}

.main-banner-content h5 {

}

/* Home Page Ends */